html,body {
	text-align: center;
}

.hidden {
	display: none;
}

#content {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
}

table {
	margin: auto;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}
