body {
	height: 100vh;
  width: 100vw;
	text-align: center;
  display: grid;
	align-items: center;
	justify-items: center;
  grid-template-columns: 100vw;
  grid-template-rows: auto 80vh auto;
  grid-template-areas:
		"home"
		"content"
		"footer";
}

#home-link {
	grid-area: home;
	width: 100vw;
}

.main {
	grid-area: content;
	width: 100vw;
	margin: 7vh 0 15vh 0;
}

table {
	margin: auto;
}

.hidden {
	display: none;
}

footer {
	grid-area: footer;
	width: 100vw;
}

@media only screen and (max-device-width: 600px) {

	#home-link {
		font-size: 120%;
	}

	footer {
		font-size: 80%;
	}

}
